<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>$('body').addClass('thanks');</script>
<header class="thanks-header">
  <div class="container">
    <h1>Thanks so much for being a part of GOAT Christmas!</h1>
  </div>
</header>

<div class="container thanks-details">
  <h3 class="donation-message">Your donation of <span class="your-donation">$<%= @donation.amount %></span> brings the total to <span class="donation-total">$<%= @total.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></span>!</h3>
  <p class="details">Be sure to check your email for details and a little token of our appreciation-  and make sure to share #goatchristmas with your friends - the more the merrier!</p>
  <div class="details">&larr; <a href="/">Click here to see the whole fundraiser with your amount taken!</a></p>
</div>